:root{
  --accent: #0d6efd;
}


.container-img{
    display:flex;
    justify-content: center;
}

.card img {
  object-fit: cover;
  height: 220px;
}


.btn-primary {
  background-color: var(--accent);
  border-color: var(--accent);
}

.container-img img{
    max-width: 300px;
}

